---
title: Grain to Glass 2
description: A description of this page.
keywords: Keywords.
sitename: Site Name
url: http://www.boilerplate.com
---



.top-bar
  = image_tag 'images/logo.png'
  %h1
    What's on tap?


%li.template
  .glass-image
    %img
  .tap-number
  .beer-information
    .beer-name-price
    .brewery
    .origin




%ul.beer-list
