---
title: The Boilerplate
description: A description of this page.
keywords: Keywords.
sitename: Site Name
url: http://www.boilerplate.com
---

%li.columns#template
  .large-2.columns
    %img.pint-glass-image
    %img.snifter-glass-image
    %img.growler-glass-image
  .large-1.columns
    .tap-number
  .large-9.columns
    .grp1
      .beer-name
      .beer-price
    .grp2
      .beer-company-name
      .brew-location
    .grp3
      %ul
        %li.beer-style
        %li.beer-abv
        %li.beer-ibu
#beer-list-container
  .large-12.columns#headercontainer
    .large-6.columns
      %h1 WHATS ON TAP?
    .large-6.columns
      #pagination
  .large-12.columns
    %ul#beer-list
