---
title: The Boilerplate
description: A description of this page.
keywords: Keywords.
sitename: Site Name
url: http://www.boilerplate.com
---

%li.large-6.columns#template
  .large-3.columns
    %img.beer-glass-image
  .large-9.columns.grp1
    .beer-name
    .beer-price
  .large-9.columns.grp2
    .beer-company-name
    .brew-location
  .large-9.columns.grp3
    %ul
      %li.beer-style
      %li.beer-abv
      %li.beer-ibu
#beer-list-container
  #pagination
  %ul#beer-list

