---
title: The Boilerplate
description: A description of this page.
keywords: Keywords.
sitename: Site Name
url: http://www.boilerplate.com
---

#header
  .large-6.columns
    %li#template
      %img.beer-glass-image/
      .beer-company-name
      .beer-name
      .beer-price
      %ul
        %li.beer-style
        %li.beer-abv
        %li.beer-ibu
#beer-list-container
  #pagination
  %ul#beer-list

